doctype html
html(class='paper-a4')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    include _invoicePrintStyles
  body
    .invoice-box
      .top-bar
        div Page No. 1 of 1
        div.center PROFORMA INVOICE
        div.right Original Copy

      .company-header
        .logo-cell
          if settings.company_logo
            img(src=settings.public_server_file + settings.company_logo alt='Logo')
        .info-cell
          .name= settings.company_name || 'Company Name'
          if settings.company_address
            div= settings.company_address
          .meta
            if settings.company_phone || settings.company_email
              div
                | Mobile: #{settings.company_phone || '-'}
                if settings.company_email
                  |  | Email: #{settings.company_email}
            div
              | GSTIN - #{settings.company_gstin || settings.company_tax_number || '-'}
              if settings.company_pan
                |  | PAN - #{settings.company_pan}

      .two-col
        .col
          .section-title Invoice Details
          table.field-grid
            tr
              td.label Invoice Number
              td #{model.number}/#{model.year || ''}
            tr
              td.label Invoice Date
              td #{moment(model.date).format('DD-MMM-YY')}
            tr
              td.label Due Date
              td #{moment(model.expiredDate).format('DD-MMM-YY')}
            tr
              td.label Place of Supply
              td #{formatPlaceOfSupply(model.placeOfSupply || customer.state)}
            tr
              td.label Reverse Charge
              td No
        .col
          .section-title Transporter Details
          table.field-grid
            tr
              td.label Transporter
              td.dash -
            tr
              td.label Vehicle No.
              td.dash -
            tr
              td.label Transporter Doc No.
              td.dash -
            tr
              td.label Transporter Doc Date
              td.dash -
            tr
              td.label E-Way Bill No.
              td.dash -
            tr
              td.label E-Way Bill Date
              td.dash -

      .two-col
        .col
          .section-title Billing Details
          table.field-grid
            tr
              td.label Name
              td= customer.name
            tr
              td.label GSTIN
              td= customer.gstin || '-'
            tr
              td.label Mobile
              td= customer.phone || '-'
            tr
              td.label Email
              td= customer.email || '-'
            tr
              td.label Address
              td= customer.address || '-'
        .col
          .section-title Shipping Details
          table.field-grid
            tr
              td.label Name
              td= customer.name
            tr
              td.label GSTIN
              td= customer.gstin || '-'
            tr
              td.label Mobile
              td= customer.phone || '-'
            tr
              td.label Email
              td= customer.email || '-'
            tr
              td.label Address
              td= customer.address || '-'

      table.items-table
        thead
          tr
            th(style='width:4%') Sr.
            th(style='width:24%') Item Description
            th(style='width:8%') HSN/SAC
            th(style='width:7%') Qty
            th(style='width:7%') Unit
            th(style='width:12%') List Price
            th(style='width:8%') Disc.
            th(style='width:14%') Amount (₹)
        tbody
          each item, index in model.items
            tr
              td.center= index + 1
              td.left
                | #{item.itemName}
                if item.description
                  span.desc-sub= item.description
              td.center= item.hsnCode || '-'
              td.center= item.quantity
              td.center Nos
              td.num ₹ #{indianAmount(item.price)}
              td.num ₹ 0.00
              td.num ₹ #{indianAmount(item.total)}
          tr.summary-row
            td(colspan='7') Discount
            td.num ₹ #{indianAmount(model.discount || 0)}
          tr.summary-row
            td(colspan='7') Total
            td.num ₹ #{indianAmount(model.total)}

      .amount-words
        strong Amount in Words:
        |  Rs. #{amountInWords(model.total)}

      .payment-summary
        .left
          div
            strong Status -
            |  #{model.status || 'draft'}
          div
            strong Valid Until
            |  #{moment(model.expiredDate).format('DD-MMM-YY')}
        .right
          table.tax-table
            thead
              tr
                th Type
                th Taxable
                th Tax
                th Total
            tbody
              tr
                td Total Sale
                td ₹ #{indianAmount(model.subTotal)}
                td -
                td ₹ #{indianAmount(model.total)}

      .footer-grid
        .col
          .col-title Terms and Conditions
          if settings.invoice_terms_conditions
            ul.terms-list
              each line in (settings.invoice_terms_conditions || '').split(/\r?\n/)
                if line.trim()
                  li= line.trim()
          else
            ul.terms-list
              li Goods once sold will not be taken back or exchanged.
              li Interest @ 18% p.a. will be charged on overdue bills.
              li Subject to jurisdiction.
        .col
          .col-title Bank Details
          table.bank-table
            if settings.company_bank_account_name
              tr
                td.label Account Holder Name
                td= settings.company_bank_account_name
            if settings.company_bank_name
              tr
                td.label Bank Name
                td= settings.company_bank_name
            if settings.company_bank_branch
              tr
                td.label Bank Branch
                td= settings.company_bank_branch
            if settings.company_bank_account_number
              tr
                td.label Account Number
                td= settings.company_bank_account_number
            if settings.company_bank_ifsc
              tr
                td.label IFSC Code
                td= settings.company_bank_ifsc
            tr
              td.label GPay / UPI
              td 9710660508
            if !settings.company_bank_account_number && !settings.company_bank_name && settings.company_bank_account
              tr
                td(colspan='2')= settings.company_bank_account
            if !settings.company_bank_account_number && !settings.company_bank_name && !settings.company_bank_account
              tr
                td(colspan='2').dash Add bank details in Company Settings
        .col
          .signature-box
            div For #{settings.company_name || 'Company Name'}
            .signature-line Signature

      .page-footer
        | Proforma Invoice created by #{settings.company_website || settings.company_name || 'Billing Software'}
